/* CSS HEX */
:root {
  --colour1: #f4f4f4;
  --colour2: #cdcdcdf5;
  --colour3: #d93f4e;
  --colour4: #991e2a;
  --colour5: #cccccc;
  --colour6: #f4f4f4dc;
}


body {
  font-family: Monospace, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%238a0e0e' fill-opacity='0.34'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation: 18s linear 0s infinite bp;
}

@keyframes bp {
  from {
    background-position:  -198px 0;
  }
  
  to {
    background-position:  0 198px;
  }
}

h1 {
  font-size: 50px;
  color: var(--colour4);
}

h3 {
  font-size: 40px;
  color: var(--colour4);
}

p {
  font-size: 16px;
  color: black;
}

.header {
  font-weight: bolder;
  font-family: Verdana, Helvetica, sans-serif;
  background-color: var(--colour4);
  height: 40px;
  padding: 55px;
  gap: 2vw;
  display: flex;
  justify-content: space-between;
}

.logo_area {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.header_logo {
  font-size: min(5vw, 30px);
  font-weight: bold;
  color: white;
}

.header_links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  font-size: 28px;
  color: white;
}

.upper {
  background-color: var(--colour6);
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all 500ms ease-in-out;
}

.upper_text_area {
  width: 30%;
}

.upper:hover {
  flex: 2 1 auto;
  filter: brightness(110%);
  padding-top: 10%;
  padding-bottom: 10%;
}

.main {
  position: relative;
  display: flex;
  flex: 2 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main_upper {
  background-color: var(--colour2);
  padding: 10%;
  gap: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.main_upper:hover {
  transition: all 500ms ease-in-out;
  /* background-image: url("../images/Mech3.webp"); */

}

.text_area {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.main_upper:hover {
  flex: 2 1 auto;
  filter: brightness(110%);
  padding-top: 15%;
  padding-bottom: 15%;
}

.main .image { 
  transition: all 500ms ease-in-out;
  filter: brightness(0%)
}

.main_upper:hover .image { 
  transition: all 500ms ease-in-out;
  filter: brightness(90%)
}

.main_middle:hover .image { 
  transition: all 500ms ease-in-out;
  filter: brightness(90%)
}

.main_lower:hover .image { 
  transition: all 500ms ease-in-out;
  filter: brightness(100%)
}

.main_middle:hover {
  flex: 2 1 auto;
  filter: brightness(110%);
  padding-top: 15%;
  padding-bottom: 15%;
}

.main_lower:hover {
  flex: 2 1 auto;
  filter: brightness(110%);
  padding-top: 15%;
  padding-bottom: 15%;
}

.img_area {
  display: flex;
}

img {
  display: flex;
  max-width: 50%;
}

.main_middle {
  background-color: var(--colour6);
  padding: 10%;
  display: flex;
  flex-direction: row;
  gap: 15%;
  align-items: center;
  justify-content: space-evenly;
  transition: all 500ms ease-in-out;
}

.main_lower {
  background-color: var(--colour2);
  padding: 10%;
  display: flex;
  flex-direction: row;
  gap: 15%;
  align-items: center;
  justify-content: space-evenly;
  color: bisque;
  transition: all 500ms ease-in-out;
}


.footer {
  background-color: var(--colour4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 55px;
  gap: 15px;
  font-size: 18px;
  color: var(--colour3);
}

.footer_left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer_img {
  width: 50px;
  opacity: 0.3;
  transition: all 300ms ease-in-out;
}

.footer_img:hover {
  opacity: 1;
}

.version {
  font-size: 18px;
}

a {
  font-size: 15px;
  color: var(--colour3);
  position: relative;
  text-decoration: none;
}

a:visited{
  color: var(--colour3);
  text-decoration: none;
}

a:hover {
  color: var(--colour1);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: var(--colour1);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

a:hover {
  color: var(--colour1);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: var(--colour1);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

.undertitle {
  width: 300px;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 2 auto;
  letter-spacing: .15em;
  animation: 
    typing1 1.5s steps(50, end); 
}

.undertitle_2 {
  width: 300px;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 2 auto;
  letter-spacing: .15em;
  animation: 
    typing1 1.5s steps(50, end);
  animation-delay: 100ms; 
}

.undertitle_3 {
  width: 300px;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 2 auto;
  letter-spacing: .15em;
  animation: 
    typing1 1.0s steps(50, end);
  animation-delay: 200ms; 
}

@keyframes typing1 {
  from { width: 0 }
  to { width: 100% }
}
